body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1e293b;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border: none;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background: #3b82f6;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

.output-box {
  margin-top: 15px;
}

textarea {
  background-color: #d4d9e2;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 150px;
  border-radius: 6px;
  padding: 10px;
  resize: none;
}
